body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex; /* Enable flexbox for container */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100vh; /* Maintain full viewport height */
}

.search-wrapper {
    /* Adjust styles for search bar and button */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
}
